* {margin: 0px;}

body {
    background-color: rgb(42, 37, 37);
}

.container {
    display: grid;
    grid-template-columns: 600px 600px;
    grid-template-rows: 80px 400px;
    grid-gap: 10px;
    padding: 65px;
}

.containerTwo {
    display: grid;
    grid-template-columns: 1200px;
    grid-template-rows: 80px 300px 300px;
    grid-gap: 10px;
   
}

img { 
    border-radius: 10px;
}

.infoTexto {
    display: grid;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    font-family: 'Oswald';
    font-size: 30px;
    color: white;
    text-align: center;
    box-shadow: 0 4px 20px 0 rgba(136, 125, 125, 0.3);
    padding: 150px 0px 0px 0px;

}

.infoImagem {
    display: grid;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    justify-content: center;
    padding: 25px 0px 0px 0px;
}

.giovanniImg {
    display: grid;
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    justify-content: center;
    padding: 50px 0px 0px 0px;
}

.texto1 {
    display: grid;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    font-size: 30px;
    color: white;
    font-family: 'Oswald';
    justify-content: center;
    padding: 50px 0px 0px 0px;    
}

.texto1Estilo {
    background-color: tomato;
    text-align: center;
    height: 45px;
    width: 270px;
    border-radius: 300px;
    transition: 2s;
}

.texto1Estilo:hover {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    transition: 2s;
    background-color: red; 
}

.frase1 {
    display: grid;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    font-size: 30px;
    color: white;
    font-family: 'Oswald';
    text-align: center;
    padding: 100px 0px 0px 0px;
}

.texto2 {
    display: grid;
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    font-size: 30px;
    color: white;
    font-family: 'Oswald';
    justify-content: center;
    padding: 50px 0px 0px 0px;    
}

.texto2Estilo {
    background-color: green;
    text-align: center;
    height: 45px;
    width: 270px;
    border-radius: 300px;
    transition: 2s;
}

.texto2Estilo:hover {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    transition: 2s;
    background-color: rgb(8, 78, 8); 
}

.frase2 {
    display: grid;
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    font-size: 30px;
    color: white;
    font-family: 'Oswald';
    text-align: center;
    padding: 150px 0px 0px 0px;
}







