* {margin: 0px;}

body {
    background-color: rgb(246, 244, 241);
    background-color: rgb(42, 37, 37);
}
.container {
    display: grid;
    grid-template-columns: 600px 600px;
    grid-template-rows: 80px 430px;
    grid-gap: 10px;
    /*box-shadow: 0 4px 20px 0 rgba(214, 213, 213, 0.3);*/
}

.rodape {
    display: grid;
    grid-template-columns: 1200px;
    grid-template-rows: 300px;
    box-shadow: 0 4px 20px 0 rgba(214, 213, 213, 0.3);
    margin: 20px;

}

.imagem1 {
    display: grid;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    justify-content: center;
    padding: 100px 0px 0px 400px;

    
}

.texto1 {
    display: grid;
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    justify-content: left;
    padding: 100px 0px 0px 0px;
    color: white;
    font-family: 'Oswald';
    font-size: 30px;
}

.imagem2 {
    display: grid;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    justify-content: center;
    padding: 200px 0px 0px 400px;
}

.texto2 {
    display: grid;
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    justify-content: left;
    padding: 200px 0px 0px 0px;
    color: white;
    font-family: 'Oswald';
    font-size: 30px;
}

.imagem3 {
    display: grid;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    justify-content: center;
    padding: 310px 0px 0px 400px;
}

.texto3 {
    display: grid;
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    justify-content: left;
    padding: 310px 0px 0px 0px;
    color: white;
    font-family: 'Oswald';
    font-size: 30px;
}

.texto4 {
    display: grid;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    font-family: 'Oswald';
    font-size: 30px;
    text-align: center;
    color: white;
    justify-content: center;
    padding: 130px 0px 0px 0px;
}

.texto4Estilo {
    background-color: green;
    text-align: center;
    height: 45px;
    width: 670px;
    transition: 2s;
}

.texto4Estilo:hover {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    transition: 2s;
    background-color: rgb(8, 78, 8); 
}

img {
    border-radius: 10px;
    widows: 60px;
    height: 60px;
}
