* {margin: 0px;}


body {
    
    background-color: rgb(42, 37, 37);

}

.container {
    display: grid;
    grid-template-columns: 1150px;
    grid-template-rows: 80px 430px;
    grid-gap: 10px;
    padding: 60px;
}

.imagem {
    display: grid;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    box-shadow: 0 4px 20px 0 rgba(136, 125, 125, 0.3);
    justify-content: center;
}

.git {
    display: grid;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    font-family: "Oswald";
    font-size: 30px;
    justify-content: center;
    color: white;
    padding: 360px 100px 0px 60px;
}

.gitEstilo {
    background-color: tomato;
    padding: 5px 5px 5px 5px;
    height: 45px;
    border-radius: 300px;
    
}

.fraseGit {
    display: grid;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    font-family: "Oswald";
    font-size: 30px;
    justify-content: center;
    color: white;
    padding: 290px 100px 0px 60px;
}













