*{
    margin: 30px 40px;
    padding: 20px;
    box-sizing: border-box;
}

body {
    background-color: rgb(246, 244, 241);
    background-color: rgb(42, 37, 37);

}

.container {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 300px 200px;
    grid-gap: 10px;
    
}

.git{
    display: flex;
    align-self: center;  
}

.texto{
    font-family: 'Oswald';
    font-size: 30px;
    background-color: rgb(250, 87, 69);
    width: 120px;
    height: 50px;
    border-radius: 300px;
    text-align: center;
    padding: 0px 0px;
    
}

.center {
    display: grid;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    padding: 120px 60px;
}

.click {
    display: grid;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
    color: white;

    font-family: 'Oswald';
    font-size: 30px;
    
}

.botao-estilo {
    background-color: #88b1ff;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 22px;
    font-family: 'Oswald';
    background-color: rgb(148, 167, 231); /* Green */
    color:white;
    border: none;
}

.botao-estilo:hover {
    background-color: #697fb4;
}





